<div class="container">
  <h2>List of Books</h2>
  {{#if successAlert}}
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> {{successAlert}}
    </div>
  {{/if}}
  <div class="clearfix">
    <article class="navbar-form navbar-left">
      <label>Search Keyword: 
        <input type="text" placeholder="Enter a keyword" class="form-control" id="searchBook">
      </label>
    </article>
  </div>
  <hr>
  <p style="text-align:right">
    <a href="/book/addBook" style="margin-left:10px" class="btn btn-primary">Add New Book</a>
  </p>
  <div class="table-responsive">          
  <table class="table table-bordered table-hover " id="bookList">
    <thead>
      <tr class="active">
        <th data-sort="id">Sr No <span class="glyphicon glyphicon-chevron-down pull-right"></span></th>
        <th data-sort="name">Book Name</th>
        <th data-sort="publisher">Publisher</th>
        <th data-sort="author">Author</th>
        <th data-sort="price">Price</th>
        <th data-sort="genere">Gener</th>
        <th >View/Edit</th>
      </tr>
    </thead>
    <tbody>
             
    </tbody>
  </table>
  <section>
    <div class="pull-left" id="leftComment">
      <p></p>
    </div>
    <div class="pull-right">
      <a id="bookPerPage" data-count="3" class="btn btn-primary">Add more books to list</a>
    </div>
  </section>
    
   </div>
</div>

